/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  background-color: #f2f2f2;
}

h1, h2, h3 {
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav ul {
  display: flex;
}

nav li {
  margin: 0 10px;
}



/* Main styles */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Button styles */
button, a {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  top: 20px;
}

button:hover, a:hover {
  background-color: #f00;
}


.behaviors {
    padding: 30px;
}

.behaviors li {
    line-height: 50px;
}

/* Button styles for different states */
.button-disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


section {
  margin-bottom: 40px;
}

section h2 {
  margin-bottom: 20px;
}

/* Contact form styles */
form label form input, form textarea, form button {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

form input, form textarea {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.signup-form, .login-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px auto;
  max-width: 500px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}

/* Style for the account container */
.account {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.account-nav{
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

/* Style for the account information section */
.info {
  margin-top: 40px;
}

.info h3 {
  margin-bottom: 10px;
  font-size: 24px;
}

.info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info li {
  margin-bottom: 10px;
}

.info li strong {
  display: inline-block;
  width: 30%;
  font-weight: bold;
}

.info a {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  transition: background-color 0.2s ease;
}


.list-of-policies {
  margin-top: 40px;
}

.list-of-policies h3 {
  margin-bottom: 10px;
  font-size: 24px;
}

.list-of-policies table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
}

.list-of-policies table th,
.list-of-policies table td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.list-of-policies table th {
  font-weight: bold;
}

.list-of-policies table td:first-child {
  width: 10%;
}

.list-of-policies a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  transition: background-color 0.2s ease;
}



.filter-box {
  background-color: #f2f2f2;
  position: relative;
  z-index: 1;
  top: auto;
  overflow-x:hidden;
  padding: 20px;
  width: 240px;
  margin-left: 20px;
}

.filter-box h2 {
  margin-top: 0;
}

.filter-box form {
  display: flex;
  flex-direction: column;
}

.filter-box label {
  margin-bottom: 5px;
  display: block;
}

.home-ref a:hover{
 background-color: #333;
}

select{
  width: 30%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.filter-box input[type="range"] {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 50%;
  width: 90%;
  color: #000000;
  -webkit-appearance: none;
  height: 1px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.filter-box input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
}


.filter-box input[type="checkbox"]{
  appearance: none;
  border: 1px solid #999;
  border-radius: 3px;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  vertical-align: middle;
  position: relative;
  top: 0px;
  padding: 0px;
}

.filter-box input[type="checkbox"]:checked::before {
  content: "\2713";
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 0px;
  left: 2px;
}

.filter-box input[type="checkbox"]:checked {
  background-color: #c21f1f;
  border-color: #b41036;
  color: #fff;
}



.filter-box select{
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.filter-box .company-name {
  font: 30;
  padding-bottom: -5px;
  padding-left: 25px;
  padding-top: 0px;
}

section.range-slider{
  position: relative;
  width: 90%;
  float: none;
  text-align: center;
}

.content {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 3fr;
}
.split {
  width: 100%;
  background-color: #f2f2f2;
  border: none;
  position: relative;
  z-index: 1;
  top: auto;
  overflow-x: visible;
  padding-top: 20px;
  padding-left: 20px;
  right: 0;
}


.split form{
  width: 70%;
}

.error-container {
        width: 80%;
        max-width: 800px;
        margin: 30px auto;
        text-align: center;
        padding: 50px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.error-container p {
    font-size: 18px;
    margin-bottom: 20px;
}


.alert {
    color: #cc0000;
      font-size: 16px;
      margin-top: -20px;
      margin-bottom: 10px;
}


.offer-list {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  list-style-type: none;
  margin: 0px 50px;
  padding: 0;
  gap: 20px;
}

/* Item */
.offer-card {
  background-color: #ffffff;
  border-radius: 5px;
  height:200px;
  border: 1px solid #ccc;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.offer-card a{
  background-color: #ffffff;
  padding: 0px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  top: 20px;
  position: relative;
  display: block;
  height: 100px;
}

/* Link */
.offer-card-link{
  text-decoration: none;
  background-color: #ff0000;
}

/* Title */
.offer-card-title {
  font-weight: 700;
  color: #242424;
}

/* Price */
.offer-card-price {
  position: absolute;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: #242424;
  text-transform: uppercase;
  bottom: 5px;
  left: 70%;
}


.policy-info-fragment{
    margin: auto;
}

.policy-info-fragment#offer span{
    color: #ff0000;
}

ul.documents-list {
    display: grid;
    gap: 32px;
    padding: 5px;
    grid-template-columns: repeat(2, 350px);
    margin: 20px auto;
}

ul.documents-list li{
    border: 1px solid;
    border-radius: 5px;
    border-color: #333;
    padding: 10px;
    width: 270px;
    height: 270px;
    position: relative;
    margin: auto;
}

.document-form{
    bottom: -1px;
}

.offer-title{
   color: rgba(0,0,0,1);
   position: relative;
   font-size: 24px;
   opacity: 1;
   text-align: left;
   margin: 15px auto;
}

.policy-status{
  white-space: normal;
  display: inline-block;
  width: 48%;
  vertical-align: top;
}

.date-of-issuance {
  white-space: normal;
  display: inline-block;
  width: 48%;
  vertical-align: top;
  margin: 5px 0px;
}

.title{
  border-bottom-style: groove;
  border-bottom-color: #333
}

.add-button {
  position: absolute;
  width: 250px;
  top: 110px;
  height: 50px;
  display: block;
}

.add-button form{
  width: inherit;
}

.add-button button{
  position: relative;
  left:30%;
  top: 0px;
  width: 40%;
}

.pagination {
  display: inline-block;
  width: 70%;
  margin: 40px auto;
  left: 15%;
  position: relative;
}

.pagination li {
  display: inline;
  margin-right: 5px;
}

li.active a {
  background-color: #f00;
  color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
	width: 35%;
}

.filter-price__inputs{
    display:flex;
    justify-content: space-between;
}

.filter-price__label{
    display:flex;
    align-items: center;
    width: 90px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0px 10px;
    background-color: #fff;
}

.filter-price__text {
    font-size: 14px;
    color: #808080;
    margin-right: 10px;
}

.filter-price__input{
    border:none;
    color: #333;
    padding: 0 5px;
    font-size: 14px;
    width: 40%;
}

.filter-price__slider {
	margin-bottom: 20px;
}

.noUi-connect {
	background-color: #333;
}

.noUi-target {
	background-color: #b7b7b7;
	border: none;
	border-radius: 100px;
	box-shadow: none;
	height: 3px;
	margin: 20px 3px;
}

.noUi-handle::after,
.noUi-handle::before {
	display: none;
}

.noUi-handle {
	box-shadow: none;
	border-radius: 100%;
	background-color: #fff;
	border: 3px solid #333;
}

.noUi-horizontal .noUi-handle {
	width: 20px;
	height: 20px;
	top: -10px;
}

.noUi-horizontal .noUi-handle-upper {
	right: 0;
}

.offer-page{
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 3fr 1fr;
}


.offer-price{
    position: relative;
    background-color: #fafafa;
    padding: 20px;
    border-radius: 5px; */
    height: 100px;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

}

.offer-price span{
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    color: #242424;
    text-transform: uppercase;
}

.offer-price li{
    margin-top: 20px;
}

.offer-info{
    position:relative;

}

.start-date-form form{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
}

.main-page-links{
    display: grid;
    grid-template-columns: repeat(3, 250px);
    list-style-type: none;
    margin: 0px 50px;
    padding: 0;
    gap: 20px;
}

.main-page-links li{
    width: 250px;
    padding: 5px;
    margin-right: 10px;
    text-align: center;
    display: contents;
}

.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  padding: 20px;
  margin: 10px auto;
  border-radius: 5px;
  max-width: 500px;
}

.signup-suggestion {
  text-align: center;
  max-width: 500px;
  margin: 0px auto;
  padding: 20px;
}

.signup-suggestion a {
  color: #333;
  text-decoration: underline;
  background-color:inherit;
}

.signup-suggestion a:hover {
  color: #FF0000;
  text-decoration: underline;
}

.title-and-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-and-pagination ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.title-and-pagination li{
    display: inline-block;
    margin: 0 5px;
}

