<div class="account-nav"><ul>
    <li th:classappend="${page == 'info'} ? active">
        <a th:href="@{/personal/info}">General information</a>
    </li>
    <li th:classappend="${page == 'policies'} ? active">
        <a th:href="@{/personal/policies}">Policies</a>
    </li>
    <li th:classappend="${page == 'applications'} ? active">
        <a th:href="@{/personal/applications}">Applications</a>
    </li>
    <li sec:authorize="hasAnyAuthority('ADMIN', 'COMPANY MANAGER')"
        th:classappend="${page == 'offers'} ? active">
        <a th:href="@{/personal/offers}">Offers</a>
    </li>
    <li sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')"
        th:classappend="${page == 'documentTypes'} ? active">
        <a th:href="@{/personal/admin/documentTypes}">Document types</a>
    </li>
    </ul>
</div>