<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>My Account</title>
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/send-delete.js"></script>
<script src="/js/send-put.js"></script>
<div th:replace="fragments/header :: header"></div>
<div class="personal-account">
    <div th:replace="personal/account-nav :: div"></div>
    <div class="account">
        <div th:switch="${page}">
            <td th:case="'info'">
                <div th:replace="personal/info :: div"></div>
            </td>
            <td th:case="'policies'">
                <div th:replace="personal/policies :: div"></div>
            </td>
            <td th:case="'applications'">
                <div th:replace="personal/policies :: div"></div>
            </td>
            <td th:case="'offers'">
                <div th:replace="personal/offers :: div"></div>
            </td>
            <td th:case="'documentTypes'">
                <div th:replace="personal/types :: div"></div>
            </td>
            <td th:case="'insuranceTypes'">
                <div th:replace="personal/types :: div"></div>
            </td>
            <td th:case="'companies'">
                <div th:replace="personal/companies :: div"></div>
            </td>
            <td th:case="'users'">
                <div th:replace="personal/users :: div"></div>
            </td>
        </div>
    </div>
</div>
</body>
</html>
