<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>My Account</title>
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="personal-page">
    <div th:replace="personal/account-nav :: div"></div>
    <div class="account">
        <div th:switch="${page}">
            <td th:case="'info'">
                <div th:replace="personal/info :: div"></div>
            </td>
            <td th:case="'policies'">
                <div th:replace="personal/policies :: div"></div>
            </td>
            <td th:case="'applications'">
                <div th:replace="personal/policies :: div"></div>
            </td>
        </div>
    </div>
</div>
</body>
</html>
