<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>My Account</title>
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="personal-account">
        <div th:replace="personal/account-nav :: div"></div>

        <div class="account policy-info-fragment">
            <div class="title">
                <h2 th:text="${policyDto.manager != null} ? 'Policy ' : 'Application ' + ${policyDto.id != null ? policyDto.id : ''}"></h2>
                <div class="handle-buttons" sec:authorize="hasAuthority('MANAGER')"
                     th:if="${policyDto.status == 'Awaiting manager approval'}">
                    <form  th:action="@{/personal/applications/{id}/approve (id=${policyDto.id})}" method="post">
                        <button type="submit" name="action" value="approve" class="approve-button">Approve</button>
                        <button type="submit" name="action" value="reject" class="reject-button">Reject</button>
                    </form>
                </div>
            </div>
            <form th:with="url=${((policyDto.id != null) ? policyDto.id : 'new/?id=' + offerId)}"
                  th:action="@{${url}}"
                  th:object="${policyDto}" method="post">
                <div class="offer-title">
                    <b th:text="${policyDto.offer.title}"></b>
                </div>
                <div>
                    <div class="policy-field">
                        <b>Insurance type:</b>
                        <br>
                        <span th:text="${policyDto.offer.insuranceType.title}"></span>
                    </div>
                </div>
                <div th:if="${policyDto.id != null}">
                    <div class="policy-field">
                        <b>Date of creation:</b>
                        <br>
                        <span th:text="${policyDto.creationDate}"></span>
                    </div>
                    <div class="policy-field">
                        <b>Status:</b>
                        <br>
                        <div class="status-cell">
                            <span th:class="${'status-circle status-circle-' + #strings.arraySplit(policyDto.status, ' ')[0]}"></span>
                            <span th:text="${policyDto.status}"></span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="policy-field">
                        <label for="startDate">Start Date:</label>
                        <br>
                        <span th:if="${policyDto.startDate != null && !#fields.hasErrors()}" th:text="${policyDto.startDate}"></span>
                        <div sec:authorize="hasAnyAuthority('CLIENT', 'MANAGER')" class="start-date-form">
                            <input th:unless="${policyDto.startDate != null && !#fields.hasErrors()}"
                                   type="date"
                                   id="startDate"
                                   th:field="*{startDate}"
                                   th:value="${policyDto.startDate}" />
                            <p th:if="${#fields.hasErrors('startDate')}"
                               th:errors="*{startDate}"
                               class="alert alert-error"></p>
                        </div>
                    </div>
                    <div  class="policy-field" th:if="${policyDto.expiredDate != null}">
                        <b>Expired date:</b>
                        <br>
                        <span th:text="${#dates.format(policyDto.expiredDate, 'yyyy-MM-dd')}"></span>
                    </div>
                </div>

                <div sec:authorize="hasAuthority('MANAGER')">
                    <div class="policy-field">
                        <b>Client:</b>
                        <br>
                        <span th:text="${policyDto.client}"></span>
                    </div>
                </div>
                <div sec:authorize="hasAuthority('CLIENT')" th:if="${policyDto.manager != null}">
                    <div class="policy-field">
                        <b>Manager:</b>
                        <br>
                        <span th:text="${policyDto.manager}"></span>
                    </div>
                </div>

                <ul sec:authorize="hasAnyAuthority('CLIENT', 'MANAGER')" class="documents-list">
                    <li th:each="document : ${policyDto.documents}">
                        <h2 th:text="${document.key.title}"></h2>
                        <br>
                        <div class="document-form">
                            <label for="number">Document No:</label>
                            <span th:if="${document.value != null && document.value.number != '' && !#fields.hasErrors()}">
                            <span th:text="${document.value.number}"></span>
                            </span>
                            <input th:unless="${document.value != null && document.value.number != '' && !#fields.hasErrors()}"
                                   type="text" id="number" th:field="*{documents[__${document.key.id}__].number}" />
                            <br>
                            <label for="date">Date of issue:</label>
                            <span th:if="${document.value != null && document.value.issueDate != null && !#fields.hasErrors()}">
                                <span th:text="${document.value.issueDate}"></span>
                            </span>
                            <input th:unless="${document.value != null && document.value.issueDate != null && !#fields.hasErrors()}"
                                   type="date" id="date" th:field="*{documents[__${document.key.id}__].issueDate}" />
                            <p class="alert alert-error" th:if="${#fields.hasErrors('documents[__${document.key.id}__].issueDate')}"
                               th:errors="*{documents[__${document.key.id}__].issueDate}"></p>
                        </div>
                    </li>
                </ul>
                <button th:if="${policyDto.status=='Waiting for documents' or policyDto.startDate == null or #fields.hasErrors()}"
                        sec:authorize="hasAnyAuthority('CLIENT', 'MANAGER')"
                        type="submit">Save changes</button>
            </form>
        </div>


    </div>
</body>
</html>