<div class="list-of-policies">
    <div class="title-and-pagination">
        <div>
            <h3 th:text="${#strings.capitalize(page)}"></h3>
        </div>
        <div th:if="${policies.totalPages >1}">
            <ul>
                <li th:if="${policies.number > 0}">
                    <a th:href="@{${page}(page=${policies.number - 1}, size=${policies.size})}"><</a>
                </li>
                <li th:text="|${(policies.number * policies.size) + 1} - ${((policies.number + 1) * policies.size) &lt; policies.totalElements ? ((policies.number + 1) * policies.size) : policies.totalElements} out of ${policies.totalElements}|"></li>
                <li th:if="${policies.number < policies.totalPages - 1}">
                    <a th:href="@{${page}(page=${policies.number + 1}, size=${policies.size})}"> > </a>
                </li>
            </ul>
        </div>
    </div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Type of insurance</th>
            <th>Insurance offer</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="policy : ${policies.content}">
            <td ><a th:href="@{/personal/{page}/{id}(id=${policy.id}, page=${page})}" th:text="${policy.id}"></a></td>
            <td th:text="${policy.offer.insuranceType.title}"></td>
            <td th:text="${policy.offer.title}"></td>
            <td>
                <div class="status-cell">
                    <span th:class="${'status-circle status-circle-' + #strings.arraySplit(policy.status, ' ')[0]}"></span>
                    <span th:text="${policy.status}"></span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>